extends layout

block content

    #tab2.tab-pane
        .well
            #avatarlist
                for png in user.shots
                    img.img-polaroid(style='cursor: pointer;', src="#{png.image_url}")

    button#remove-selected DELETE
    //- button#bring-to-front FRONT
    //- button#send-to-back BACK
    //- button#text-bold
    //- button#text-italic
    //- button#text-strike
    //- button#text-underline
    //- button#text-bgcolor

    #shirtDiv.page(style='width: 530px; height: 630px; position: relative; background-color: rgb(255, 255, 255);')
        img#tshirtFacing(src='img/crew_front.png')
        #drawingArea(style='position: absolute; top: 100px; left: 160px; z-index: 10; width: 200px; height: 400px;')
            canvas#tcanvas.hover(width='200', height='400')

    .well
        ul.nav
            li.color-preview(title='White', style='background-color: #ffffff;')
            li.color-preview(title='Dark Heather', style='background-color: #616161;')
            li.color-preview(title='Gray', style='background-color: #f0f0f0;')
            li.color-preview(title='Charcoal', style='background-color: #5b5b5b;')
            li.color-preview(title='Black', style='background-color: #222222;')
            li.color-preview(title='Heather Orange', style='background-color: #fc8d74;')
            li.color-preview(title='Heather Dark Chocolate', style='background-color: #432d26;')
            li.color-preview(title='Salmon', style='background-color: #eead91;')
            li.color-preview(title='Chesnut', style='background-color: #806355;')
            li.color-preview(title='Dark Chocolate', style='background-color: #382d21;')
            li.color-preview(title='Citrus Yellow', style='background-color: #faef93;')
            li.color-preview(title='Avocado', style='background-color: #aeba5e;')
            li.color-preview(title='Kiwi', style='background-color: #8aa140;')
            li.color-preview(title='Irish Green', style='background-color: #1f6522;')
            li.color-preview(title='Scrub Green', style='background-color: #13afa2;')
            li.color-preview(title='Teal Ice', style='background-color: #b8d5d7;')
            li.color-preview(title='Heather Sapphire', style='background-color: #15aeda;')
            li.color-preview(title='Sky', style='background-color: #a5def8;')
            li.color-preview(title='Antique Sapphire', style='background-color: #0f77c0;')
            li.color-preview(title='Heather Navy', style='background-color: #3469b7;')
            li.color-preview(title='Cherry Red', style='background-color: #c50404;')


    .well
        ul.garmentOptions
            li
                h3 t-shirt
            li
                h3 iPhone 5 case
            li
                h3 hoodie
