extends layout

block content

    #tab2.tab-pane.profile_center
        .well
            #avatarlist
                for png in user.rawArtwork
                    img.img-polaroid(style='cursor: pointer;', src="#{png.image_url}")

    div.profile_center
      button#remove-selected REMOVE
      button#save-product SAVE

    #shirtDiv.profile_center.page(style='width: 530px; height: 630px; position: relative; background-color: rgb(255, 255, 255);')
        img#tshirtFacing(src='img/crew_front.png')
        #drawingArea(style='position: absolute; top: 100px; left: 160px; z-index: 10; width: 200px; height: 400px;')
            canvas#tcanvas.hover(width='200', height='400')

    .well.profile_center
        ul.nav
            li.color-preview(title='Black', style='background-color: #0c070b;')
            li.color-preview(title='Caribbean', style='background-color: #20b4ce;')
            li.color-preview(title='Charcoal', style='background-color: #62656c;')
            li.color-preview(title='Heather Dark Grey', style='background-color: #6f727b;')
            li.color-preview(title='Heather Grey', style='background-color: #a5a4b4;')
            li.color-preview(title='Hot Pink', style='background-color: #fe7ca0;')
            li.color-preview(title='Kelly Green', style='background-color: #1e9569;')
            li.color-preview(title='Key Lime"', style='background-color: #69bc46;')
            li.color-preview(title='Lemon Zest', style='background-color: #ece80b;')
            li.color-preview(title='Navy', style='background-color: #14214d;')
            li.color-preview(title='Neon Blue', style='background-color: #2F549A;')
            li.color-preview(title='Neon Green', style='background-color: #90C593;')
            li.color-preview(title='Kiwi', style='background-color: #8aa140;')
            li.color-preview(title='Neon Orange', style='background-color: #1f6522;')
            li.color-preview(title='Neon Pink', style='background-color: #E99EBC;')
            li.color-preview(title='Neon Yellow', style='background-color: #EEEA84;')
            li.color-preview(title='Pool Blue', style='background-color: #3BB5CF;')
            li.color-preview(title='Red', style='background-color: #cc1d44;')
            li.color-preview(title='Royal Blue', style='background-color: #27488b;')
            li.color-preview(title='Storm Grey', style='background-color: #326AAE;')
            li.color-preview(title='White', style='background-color: #f4f4f4;')


    //- .well
    //-     ul.garmentOptions
    //-         li
    //-             h3 t-shirt
    //-         li
    //-             h3 iPhone 5 case
    //-         li
    //-             h3 hoodie
