extends layout

block content

    h1 #{user.userName}
    h2 #{user.userLikes} people like my work on Dribbble
    img(src="#{user.avatarURL}")

    for png in user.rawArtwork
        img(src="#{png.image_url}")