extends layout

block content

  section(class='user_profile')
    img.user_pic.profile_center(src='https://d13yacurqjgara.cloudfront.net/users/6051/avatars/normal/Photo.jpg?1396963043')
    h2.user_name.profile_center
      | Trisha Rock
