
p We want you to earn money directly from your designs.

p We'll take care of everything else, from storefront hosting, to shirt printing and fulfillment.

p But first we need your help.Considering this is a commercial application, we need your support to convince Dribbble to let us go through with this. If this is something you believe you could benefit from, please sign up for our service and sign the petition to Dribbble. 

form(method="post", action="/")
    input(type="text", name="newUserEmail", placeholder="email", onfocus="this.placeholder = ''", onblur="this.placeholder = 'email'")
    input(type="text", name="newUserPassword", placeholder="password", onfocus="this.placeholder = ''", onblur="this.placeholder = 'password'")
    input(type="text", name="newUserPasswordConfirm", placeholder="confirm password", onfocus="this.placeholder = ''", onblur="this.placeholder = 'confirm password'")