extends layout

block content

<<<<<<< HEAD
    h1 username
    form(method="post", action="/signup")
        input(type="text", name="dribbbleUserName")


=======
>>>>>>> parent of 1dbed12... logging username on submit
