extends layout

block content
	div.signup-wrap
		h1.sign-up-logo dapppr. 
		h2.tagline Turn your dribbble account into a store.  
			form(method="post", action="/")
				input(type="text", name="dribbbleUserName", placeholder="Enter a dribbble username", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter a dribbble username'")
					