extends layout

block content
  div.signup-wrap
    div.vertical-center
      h1.sign-up-logo dapppr
        form(method="post", action="/")
            input(type="text", name="dribbbleUserName", placeholder="Enter your dribbble username to create a t-shirt store.", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter your dribbble username to create a t-shirt store.'")
