.well{min-height:20px;padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);}.well blockquote{border-color:#ddd;border-color:rgba(0, 0, 0, 0.15);}

.img-polaroid {
    height: 100px;
    width: 100px;
}

.color-preview {
    border: 1px solid #CCC;
    margin: 2px;
    zoom: 1;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proxima-nova') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'proxima-nova-light';
  src: url('../fonts/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova-light-webfont.svg#proxima_nova_rglight') format('svg');
  font-style: normal;
  font-weight: 300;
}





/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}


body.fade-in{
  font-family: "proxima-nova",'Helvetica', sans-serif;
  background: #f1f1f1;
  color:#333;
}

/*SIGN-UP*/
.signup-wrap{
  text-align: center;
  margin:140px 40px 0px;

}
h1.sign-up-logo{
  font-family: 'Pacifico', cursive;
  font-size:9em;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

h2.tagline{
  font-size:3em;
  margin-top:80px;
  font: "proxima-nova-light",'Helvetica', sans-serif;
}
input[type=text]{
    width: 74%;
    min-width: 60%;
    border: 1px solid #e1e1e1;
    background: #fefefe;
    color: #000;
    font: .75em "proxima-nova",'Helvetica', sans-serif;
    margin-top: 40px;
    padding: 30px 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 0;
    outline: 0;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}
span.dspan{color:green;}

/*END SIGN-UP*/
.header{
  background: rgba(0,0,0,.90);
  position:fixed;
  z-index: 1000;
  width:100%;
  height: 6px;
  top:0;
}
.dapppr_title{
  /*padding: .65em;*/
  margin-top:16px;
}
.dapppr_title a{
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color:rgba(255,255,255,1.0);
  font-size: 2.2em;
  padding: .65em;
  letter-spacing: .03em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.dapppr_title a:hover{
  color:rgba(255,255,255,.95);
}

.wrap-big{
  max-width:72em;
  margin:0 auto;
}
.wrap{
  max-width:65em;
  margin:0 auto;
}
.user_profile{
  width: 100%;
  position: relative;
  margin: 2em 0;
}

.profile_center{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.profile_center_link{
  display: block;
  margin: 7px auto;
  text-align: center;
}

.profile_center_link a{
  text-decoration: none;
  font-size: 1.35em;
  font-family: 'Pacifico', cursive;
  letter-spacing: .03em;
  color:rgba(0,0,0,.76);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.profile_center_link a:hover{
  color:rgba(0,0,0,.66);
}
.user_pic{
  height: 142px;
  width: 142px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.user_name{
  margin: 10px;
  font-weight: 400;
  font-size: 1.75em;
}


.prod_img{
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}


.product {
    max-width:64em;/* 1024px; */
		margin:0 auto;
}

[class*='col-'] {
	float: left;
	width:33.333333%;
	}

.item-container{
  margin: 10px;
  padding: 1em;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.item-container {
  background: white;
  padding: 1em;
}

.footer{
  background: rgba(0,0,0,.90);
  width:100%;
  margin-top:60px;
}

.dapppr_footer_title{
  font-family: 'Pacifico', cursive;
  color:#fff;
  font-size: 2.2em;
  padding: .65em;
  letter-spacing: .03em;
}

.dapppr_footer_title a{
  text-decoration: none;
  font-size: 1.15em;
  font-family: 'Pacifico', cursive;
  letter-spacing: .03em;
  color:rgba(255,255,255,1.0);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


.dapppr_footer_title a:hover{
  color:rgba(255,255,255,.86);
}


span.about{
  text-decoration: none;
  font-size: .85em;
  font-family: "proxima-nova",'Helvetica', sans-serif;
  color:rgba(255,255,255,1.0);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;}



  button#remove-selected{
    border: 4px solid rgba(0,0,0,0.6);
    font-family: "proxima-nova",'Helvetica', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    color:rgba(0,0,0,0.7);
    background: none;
    padding: 25px 78px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:0 12px 10px 0;
  }

  button#remove-selected:hover{
    border: 4px solid rgba(0,0,0,0.5);
    color:rgba(255,255,255,0.9);
    background:rgba(0,0,0,0.6);
    cursor: pointer;
  }

  button#save-product{
    border: 4px solid rgba(0,0,0,0.6);
    font-family: "proxima-nova",'Helvetica', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    color:rgba(0,0,0,0.7);
    background: none;
    padding: 25px 94px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:0 0 10px 12px;
  }

  button#save-product:hover{
    border: 4px solid rgba(0,0,0,0.5);
    color:rgba(255,255,255,0.9);
    background:rgba(0,0,0,0.6);
    cursor: pointer;
  }

@media screen and (max-width: 50em) {
  .grid {
    overflow: hidden;
  }
  .grid > div {
    float: left;
    width: 100%;
  }

  h1.sign-up-logo{
  font-size:7em;
}

h2.tagline{
  font-size:2em;
  margin-top:70px;
}
input[type=text]{
    min-width: 340px;
    border: 1px solid #e1e1e1;
    background: #fefefe;
    color: #000;
    font: .75em "proxima-nova",'Helvetica', sans-serif;
    margin-top: 40px;
    padding: 30px, 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 0;
    outline: 0;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}
}

.wrap-checkout{
  text-align: center;
  max-width:40em;
  margin:0 auto;
}

form.checkout input[type=text]{
  width:100%;
  margin-top:12px;
  font: 1.25em "proxima-nova",'Helvetica', sans-serif;
}

h1.checkout{
  margin-top:40px;
  font: 1.75em "proxima-nova",'Helvetica', sans-serif;
}
h2.checkout{font: 1.5em "proxima-nova",'Helvetica', sans-serif;}

button.checkout{
  width:100%;
  border: 4px solid rgba(0,0,0,0.5);
  color:rgba(255,255,255,0.9);
  background:rgba(0,0,0,0.8);
  cursor: pointer;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  padding: 25px 78px;
  margin:18px 0 80px;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear;
}

button.checkout:hover{
  background:rgba(0,0,0,0.6);
}

h1.thanks{
  font-size: 9em;
  font-family: 'Pacifico', cursive;
  letter-spacing: .03em;
  width:50%;
  margin:140px auto;
}


::selection {color:white;background:#f000ff;}
::-moz-selection {color:white;background:#f000ff;}
