
body{
  font-family: 'Helvetica', sans-serif;


}

.dapppr_title{
  font-family: 'Clicker Script', cursive;
  font-size: 2.2em;
  margin: 10px 10px;
}

.user_profile{
  width: 100%;
  position: relative;
}

.profile_center{
  display: block;
  margin: 0 auto;
  text-align: center;
}


.user_pic{
  height: 160px;
  width: 160px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.user_name{
  margin: 10px;
  font-weight: 400;
}

.prod_img{
  height: 300px;
  width: 400px;
}

.product {
    max-width:64em;/* 1024px; */
		margin:0 auto;
}

[class*='col-'] {
	float: left;
	width:33.333333%;
  margin-top: 20px;
  margin-bottom: 20px;

	}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding: 1em 1em 0;
}



@media screen and (max-width: 50em) {
  .grid {
    overflow: hidden;
  }
  .grid > div {
    float: left;
    width: 100%;
  }
}
